<nav>
    <a href="/home">Go to Home</a>
    <a href="/host/add-home">Add Home</a>
    <a href="/bookings">bookings</a>
    <a href="/favourites">fav</a>
    <a href="/host/host-home-list">host homes</a>
</nav>

<!-- Header -->
<header>
    <h1><%=heading%></h1>
</header>