<%- include('../partials/header')%>
    </head>

    <body>
        <!-- Navigation Links -->
    <nav>
        <a href="/">Go to Home</a>
        <a href="/host/add-home">Add Home</a>
        <a href="/bookings">bookings</a>
        <a href="/favourites">fav</a>
    </nav>
    
    <!-- Header -->
    
        <h1> My Bookings</h1>
    
    </body>